/*orange = #F89731
yellow = #E4B84E
caramel = #B7AA79
blue = #69978D
grey = #4E4B4E*/
%align {
    width: 850px;
    margin: 0 auto;
    text-align: center;
}

.blog {

    &__header {
        background-color: #69978D;
        height: 100px;
        color: #4E4B4E;
        margin: 0;

        a {
            text-decoration: none;
            padding: 15px;
            float: right;
            color: #4E4B4E;

            &:hover {
                color: black;
            }
        }

    }

    &__home {
        width: 850px;
        margin: 0 auto;
    
        h1 {
            text-align: center;
            margin-bottom: 0;
        }
    
        h5 {
            text-align: right;
            padding: 0 250px 0 0;
            margin: 0;
        }
        
        p {
            margin-top: 20px;
        }
    }

    &__register {
        @extend %align;
        &__form {
            input {
                display: block;
                margin: 0 auto;
                margin-top: 10px;
                margin-bottom: 10px;
            }
    
            label {
                margin-top: 20px;
            }
        }
    
        &__button {
            width: 150px;
            height: 30px;
            background-color: #4E4B4E;
            color: white;
            border-radius: 3px;
        }
    
    }

    &__connect {
        @extend %align;
        &__form {
            input {
                display: block;
                margin: 0 auto;
                margin-top: 10px;
                margin-bottom: 10px;
            }
    
            label {
                margin-top: 20px;
            }
        }
    
        &__button {
            width: 150px;
            height: 30px;
            background-color: #4E4B4E;
            color: white;
            border-radius: 3px;
        }
    }

    &__forgot {
        @extend %align;
        &__form {
            input {
                display: block;
                margin: 0 auto;
                margin-top: 10px;
                margin-bottom: 10px;
            }
    
            label {
                margin-top: 20px;
            }
        }
    }

    &__post {
        @extend %align;
    }
    
}

